body {
    font: 14px "Lato", sans-serif;
    font-weight: 300;
    color: #333;
    margin: 0px; padding: 0px;
    background-image: url(../img/brushed.png);
    overflow: hidden;
}
a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #666;
}

/* Header */
.header {
    margin-top:10px;
    text-align: center;
}
.interaction {
    text-align: center;
}
#product_title {
    font-family: 'Josefin Slab',Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: 200;
    color: #33a02c;
}
@media (min-width: 990px) {
    #product_title{
        font-size: 3em;
    }
}
.dark {
    font-weight: 800;
}
#dac_logo {
    position: absolute;
    bottom: 3%;
    left: 1%;
    z-index: 1000;
}
#dac_logo img {
    width: 100px;
}
@media (min-width: 990px) {
    #dac_logo {
        position: absolute;
        bottom: 0;
        left: 1%;
    }
    #dac_logo img {
        width: 150px;
    }
}

/* Main Vizualization */
#chart {
  position: relative;
}
#content_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
#main_panel {
    position: relative;
}
#viz_panel {
    width: 80%;
    float: left;
    margin-top: 8%;
    margin-left: 10%;
}
@media (min-width: 990px) {
    #viz_panel {
        margin-top: 0;
        width: 44%;
        margin-left: 17%;
    }
}

/* Perspective Visualization */
#perspective_panel {
    width: 100%;
    position: absolute;
    top: 1%;
    left: 1%;
}
#perspective-sunburst-wrapper {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 2%;
}
@media (min-width: 990px) {
    #perspective_panel {
        float: left;
        width: 38%;
        margin-top: 7%;
        position: absolute;
        top: 0;
        left: 60%;
    }
    #perspective-sunburst-wrapper {
        width: 100%;
        left: 0;
        top: 20%;
    }
}

/* Breadcrumb */
#sequence {
    margin-top: 1%;
}
#sequence text, #legend text {
  font-weight: 600;
  fill: #222;
}

/* About links */
#about_link {
    position: absolute;
    right: 1%;
    top: -0.75em;
    text-align: center;
}
.questionmk {
    font-size: 2em;
}
@media (min-width: 990px) {
    #about_link {
    }
    .questionmk {
        font-size: 3em;
    }   
}
#links {
    position: fixed;
    bottom: 0.25%;
    right: 1%;
    text-align: center;
    width: 100%;
}
#links a, #about_link a {
    color: #33a02c;
}
#links a:hover, #about_link a:hover {
    color: #666;
}
@media (min-width: 990px) {
    #links {
        position: fixed;
        bottom: 1%;
        font-size: .9em;
        text-align: right;
    }
}
@media (min-width: 990px) {
    #perspective-sunburst {
        margin-top: 12%;
        margin-left: 12%;
    }
}

/* Word size formatting */
.w0, .w1 {
    text-transform:uppercase;
}
.w0, .w1, .w2, .w3 {
    font-weight:bold;
}
.sunburst.word {
    font-size: .7em;
}
.sunburst.w0 {
    font-size: 1em;
}
.sunburst.w1 {
    font-size: .9em;
}
.sunburst.w2 {
    font-size: .8em;
}
.sunburst.w3, .sunburst.w4, .sunburst.w5 {
    font-size: .7em;
}
@media (min-width: 990px) {
    .sunburst.word {
        font-size: .9em;
    }
    .sunburst.w0 {
        font-size: 2em;
    }
    .sunburst.w1 {
        font-size: 1.8em;
    }
    .sunburst.w2 {
        font-size: 1.6em;
    }
    .sunburst.w3 {
        font-size: 1.4em;
    }
    .sunburst.w4 {
        font-size: 1.2em;
    }
    .sunburst.w5 {
        font-size: 1em;
    }
}