<span class="about">
  <div class="header">
    <span id="product_title"><span class="dark"><a href="#/" class="h-link">hierarchie</a></span>
    </span>
    <p class="tagline">a structured display of topics from discussion surrounding the mh-370 disappearance</p>
  </div>

	<p>Hierarchie provides hierarchical navigation of the different topics or themes from text. These topics are discovered using a technique called Hierarchical Latent Dirichlet Allocation (HLDA), and are represented in the visualization as lists of words. <p>

			<p>Hierarchie was created by the Machine Learning Visualization Lab for <a class="h-link" href="http://www.dac.us">DECISIVE ANALYTICS Corporation</a>. This implementation of a sunburst was based upon <a class="h-link" href="http://bl.ocks.org/kerryrodden/7090426">Sequences Sunburst</a> by Kerry Rodden and <a class="h-link" href="http://bl.ocks.org/mbostock/4348373">Zoomable Sunburst</a> by Mike Bostock.</p>

	<p>Further details can be found in our <a class="h-link" href="http://nlp.stanford.edu/events/illvi2014/papers/smith-illvi2014b.pdf">workshop paper</a>, and we'll be presenting our work at the <a class="h-link" href="http://nlp.stanford.edu/events/illvi2014/index.html">ACL 2014 Workshop on Interactive Language Learning, Visualization, and Interfaces</a>.</p> 

	<p> For this demonstration, we used a corpus of 1600 Tweets and 970 Reddit comments containing the keyword "MH370" in addition to 27 Daily Beast articles returned by a URL filter for any of the key words "malay", "370", "flight", "missing", "hijack", "radar", "pilot", "plane", "airplane", and "wreckage". These documents were collected during the first week of MH-370's disappearance. By exploring the visualization, it's possible to discern different topics and theories relating to the airliner. <p> 

  <p class="image-holder"><img src="app/img/full.png" alt="Main display"/></p>

  <p>The above image shows all components of the Hierarchie visualization. Each <b>SLICE</b> in the large sunburst represents a topic. When you mouse over or click on a slice, the words composing the <b>TOPIC</b> are displayed in the center of the sunburst. <p>

  <p>The <b>BREADCRUMB</b> helps orient you as you navigate the sunburst. It shows the most common word in each topic leading to the one you're currently exploring. If you click to zoom in on a topic, the <b>ANCHOR</b> offers more context by highlighting which portion of the full topic structure is currently displayed in the large sunburst. In the below image, you can see the "Plane, people, pilot" topic has been clicked, the main sunburst has zoomed in, and the anchor has highlighted everything under the "Plane, people, pilot" slice.

  <p class="image-holder"><img src="app/img/layer.png" alt="Layer display"/></p>

  <p>Future enhancements to Hierarchie will make the visualization a more useful tool. They include:
  <ul>
    <li>Exposing the documents underlying topics</li>
    <li>Search capabilities</li>
    <li>Improving responsiveness of website and visualizations</li>
    <li>Better cross-browser support</li>
  </ul>

	<p class="footer">Hierarchie is covered by the <a href="http://www.apache.org/licenses/LICENSE-2.0.html" class="h-link">Apache Version 2.0 License.</a></p>

      <div id="footer">
      <span id="dac_logo"><a href="http://www.dac.us"><img src="app/img/logo.png"/></a></span>
      <span id="links">
        <span>View the source code on <a href="https://github.com/decisive-ui/Hierarchie">Github</a> and follow us on <a href="https://twitter.com/decisiveUI">Twitter</a></span>
      </span>
    </div>
</span>

