<span class="about">
  <div class="header">
    <span id="product_title"><span class="dark">hierarchie</span></span>
  </div>

	<p>Hierarchie provides hierarchical navigation of the different topics or themes from text. These topics are discovered using a technique called Hierarchical Latent Dirichlet Allocation (HLDA), and are represented in the visualization as lists of words. <p>

	<p> For this example, we used a corpus of 1600 Tweets and 970 Reddit comments containing the keyword "MH370" in addition to 27 Daily Beast articles returned by a URL filter for any of the key words "malay", "370", "flight", "missing", "hijack", "radar", "pilot", "plane", "airplane", and "wreckage". These documents were collected during the first week of MH-370's disappearance. By exploring the visualization, it's possible to discern different topics and theories relating to the airliner. <p> 

	<p>Hierarchie was created by the data visualization team for <a href="http://www.dac.us">DECISIVE ANALYTICS Corporation</a>. This implementation of a sunburst was based upon <a href="http://bl.ocks.org/kerryrodden/7090426">Sequences Sunburst</a> by Kerry Rodden and <a href="http://bl.ocks.org/mbostock/4348373">Zoomable Sunburst</a> by Mike Bostock.</p>

	<p>Further details can be found in our <a href="http://nlp.stanford.edu/events/illvi2014/papers/smith-illvi2014b.pdf">workshop paper</a>, and we'll be presenting our work at the <a href="http://nlp.stanford.edu/events/illvi2014/index.html">ACL 2014 Workshop on Interactive Language Learning, Visualization, and Interfaces</a></p> 

	<p>Hierarchie is covered by the Apache Version 2.0 License. Please see LICENSE.txt for more details.</p>
</span>

