
    <div class="cl-effect-1 panel_name">
        <span id="sunburst_layout" class="option selected" ng-click="about()">About</span>
        <span id="partition_layout" class="option" ng-click="display('part')">partition</span>
    </div>
    <span id="viz_panel">
        <div id="sunburst" sunburst data="data" ng-hide="displayVis"></div>
        <div id="partition" partition-chart data="data" ng-show="displayVis"></div>
    </span>
    <span id="perspective_panel">
        <div id="sequence" breadcrumb ></div>
        <span id="perspective-sunburst-wrapper">
            <div id="perspective-sunburst" sunburstperspective data="data" ng-hide="displayVis"></div>
        </span>
    </span>
    <span id="source_panel" style="display:none;">
        <div id="source_name" class="panel_sub_name"></div>
        <div id="document_source"></div>
    </span>
    <span id="help_panel">
    <p>Mouseover to explore, click to zoom in, click the center to zoom out.</p>
    </span>
