  <span id="mlvl_logo">      
    <a href="http://mlvl.github.io"><img class="logo-img" src="app/img/mlvl-thumb-color-transparent-400.png"/></a>
  </span>

  <div class="header">
    <span id="product_title">
      <span class="dark">
        <a href="#/" class="h-link">hierarchie</a>
      </span>
    </span>
    <p class="tagline">a structured display of topics from discussion surrounding the mh-370 disappearance</p>
    <p class="interaction">Mouseover to explore, click to zoom in, click the center to zoom out.</p>
  </div>

  <span id="about_link"><a href="#/about"><span class="questionmk">?</span><br>About</a></span>

  <span id="viz_panel">
    <div id="sequence" breadcrumb></div>
    <div id="sunburst" sunburst data="data" ng-hide="displayVis"></div>
  </span>
  <div id="perspective-sunburst" sunburstperspective data="data" ng-hide="displayVis"></div>


  <div id="chart_footer">
    <span id="dac_logo">
      <a href="http://www.dac.us"><img src="app/img/logo.png"/></a>
    </span>
    <span id="links">
      <span>View the source code on <a href="https://github.com/mlvl/Hierarchie">Github</a> and follow us on <a href="https://twitter.com/decisiveUI">Twitter</a></span>
    </span>
  </div>
